transformers==4.45.2
torch==2.1.1
numpy==1.24.3
openai==1.30.1
pandas=2.1.1
accelerate==0.29.3
bitsandbytes==0.43.1
datasets==2.20.0
flash-attn==2.5.8
matplotlib==3.8.3
pillow==10.4.0
scikit-learn==1.5.1
sentencepiece==0.2.0
spacy==3.7.5
triton==2.1.0